/*BODY*/
body{
    font-family: 'Courier New', Courier, monospace;
}
.welcome-banner{
    font-family: 'lexend-deca', sans-serif;
    font-weight: 100;
    line-height: 1.5;
}

/*Section generic*/


/*Background*/
.background a {
    transition: all .2s ease-in-out;
    text-decoration: none;
    font-weight: 700;
    color: inherit;
}
.background a:hover{
    text-decoration: underline;
    color: #954c4c;
}

/*Skills*/

/*Work Experience*/

/*Portfolio*/
